.question_div{
  background-color: cadetblue;
  text-align: start;
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
  box-shadow:10px 10px  whitesmoke;
}
.btn{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: CORAL;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #999;
}
.left{
  position: absolute;
  left: 12%;
}
.right{
  position: absolute;
  right: 12%;
}
.btn:hover{
  background-color: coral;
  transform: translateY(4px);

}
.btn:active{
  background-color: coral;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
